@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=IBM+Plex+Sans:wght@700&display=swap');


body{
    color: white;
    background-color: black;
    font-family: 'Beau Rivage', cursive;
    font-family: 'IBM Plex Sans', sans-serif;
    
}
.contener{
    width: 70%;
    height: 1240%;
    margin-top: 3rem;
    align-items: center;
    margin: auto;
    justify-content: center;
    margin-top: 6%;
}
header{
    
    display: flex;
    justify-content: space-between;
    font-size: large;
}



.menu>a{
  padding-left: 10px;  
  padding-right: 10px;
    
}

.page{
    margin-top: 60px;
    font-size: large;
    font-weight: bolder;
}

.pageh{
    display: flex;
    justify-content: space-between;
}
.article{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-right: 1%;
    padding: 2rem;

}

a{
color: white;
text-decoration: none;
cursor: pointer;
transition: color .1s ease-in-out, box-shadow .3s ease-in-out ,border .3s ease-in-out ,margin-top .1s;
position: relative;
}

a:hover{
    position: relative;
    font-style: oblique;
    
    border-radius: 20px;
    box-shadow:  800px 0 0 0  #54b3d6 inset;
    color: white;
    margin-top: -20px;
    transition-delay: 0 s;
   } 

.footer{
    border-top: 1px solid grey;
    color: grey;
    padding-left: 40px;
}
.log>a{
    color: brown;
    transition: color .3s ease, box-shadow .3s ease;
    position: relative;
   
    margin-left: 20% ;
}
.log>a:hover{
    color: brown;
    box-shadow: 300px 0px 0 white inset;
    margin-top: -80px;
    transition-delay: 0.2s;
}

