@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=IBM+Plex+Sans:wght@700&display=swap');


body{
    color: white;
    background-color: black;
    font-family: 'Beau Rivage', cursive;
    font-family: 'IBM Plex Sans', sans-serif;
    
}
.contener{
    width: 50%;
    height: 1240%;
    margin-top: 3rem;
    align-items: center;
    margin: auto;
    justify-content: center;
    margin-top: 6%;
}
header{
    display: flex;
    justify-content: space-between;
    font-size: large;
}
.menu,a{
    padding-left: 10px;
    padding-right: 10px;

}

.page{
    margin-top: 60px;
    font-size: large;
    font-weight: bolder;
}

.pageh{
    display: flex;
    justify-content: space-between;
}
.article{
    display: flex;
    justify-content: space-between;
    margin-left: 1%;
    margin-right: 5%;
    padding: 2rem;

}

a{
color: white;
text-decoration: none;
cursor: pointer;
box-shadow: inset 0 0 0 0 #54b3d6;
transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

a:hover{
    color: bisque;
    text-transform: uppercase;
    border-top: 100px;
    transform: rotate(90deg); /* Équivalent à rotateZ(45deg) */
    box-shadow: inset 200px 0 0 0 #54b3d6;
    color: white;
  
}

.footer{
    border-top: 1px solid grey;
    color: grey;
    padding-left: 40px;
}

